

  <section class="content">
    <section class="container">
      
      
      <h1>Mapp1 :: </h1>

      <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-inverse"></header>


      {{{block "content"}}}

    </section>
  </section>


  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{{ user }}};
    var env = "{{ env }}";
  </script>

  
  <!--Application JavaScript Files-->
    {{#each jsFiles}}<script type="text/javascript" src="{{this}}"></script>{{/each}}
  


  {{#if livereload}}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:45729/livereload.js"></script>
  {{/if}}
